.advantages-opportunities {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet) {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages-opportunities__name {
  margin-bottom: 0;

  font-weight: 700;
  font-size: 18px;
}

.advantages-opportunities__item {
  display: grid;
  grid-template-columns: 70px 1fr;

  text-align: left;
}

.advantages-opportunities__ico {
  grid-row: 1/3;
}
