.booking {
  padding: 0 20px;
  text-align: center;
  margin-bottom: 49px;

  @media (min-width: $tablet) {
    margin-bottom: 58px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 66px;
  }
}

.booking__title {
  font-weight: 700;
  font-size: 21px;
  color: $color-black;

  @media (min-width: $tablet) {
    margin-top: 56px;

    font-size: 30px;
    line-height: 26px;
  }
}

.booking__text {
  margin-bottom: 23px;

  color: $color-black;

  @media (min-width: $tablet) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 43px;
  }

  br {
    display: none;

    @media (min-width: $tablet) {
      display: inherit;
    }
  }
}

.booking__button {
  max-width: 458px;
  width: 100%;
  padding: 15px 29px 17px 30px;
}
