.failure-pop-up {
  position: fixed;
  width: 320px;
  height: 280px;
  padding: 30px 45px 20px;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.2);
  background-color: #ffffff;
  z-index: 5;
  top: calc(50vh - 140px);
  left: 50%;
  margin-left: -160px;
  display: none;

  &--visible {
    display: block;
  }
}

.failure-pop-up__text {
  margin: 20px 0;
}


.failure-pop-up__title {
  line-height: 40px;
}

.failure-pop-up__button {
  width: 179px;

  &:focus {
    outline: none;
  }
}

@media (min-width: $tablet) {
  .failure-pop-up {
    width: 401px;
    height: 347px;
    padding: 35px 60px 50px;
  }

  .failure-pop-up__title {
    line-height: 40px;
  }

  .failure-pop-up__text {
    margin: 30px 0;
  }

  .failure-pop-up__button {
    width: 273px;
  }
}

@media (min-width: $desktop) {
  .failure-pop-up {
    width: 401px;
    height: 347px;
  }

  .failure-pop-up__button:hover {
    background-color: $blue-100;
  }
}
