.gallery-card {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 114%;
    height: 1px;
    background-color: $grey-400;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &:last-child::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 114%;
    height: 1px;
    background-color: $grey-400;

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.gallery-card__name {
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 2px;
}

.gallery-card__author {
  line-height: 24px;
  padding: 0;
  margin: 0;
  text-transform: none;
}

.gallery-card__content {
  display: block;
  text-align: left;
  padding-top: 9px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $grey-300;
    padding: 14px 21px 16px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color-black, 0.3);
    color: $white-100;
  }
}

.gallery-card__info {
  margin-bottom: 11px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.gallery-card__photo {
  background-color: $brown-100;
}

.video-player__photo {
  background-color: $grey-400;
}
