.gallery-card {
  &::after {
    content: "";
    position: absolute;
    top: -23px;
    left: -21px;
    width: 320px;
    height: 1px;
    background-color: $grey-400;

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.gallery-card__name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.gallery-card__author {
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  text-transform: none;
  text-align: start;
}

.gallery-card__content {
  display: block;
  text-align: left;
  margin-top: 9px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    background-color: $grey-300;
    padding: 14px 21px 16px;
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color-black, 0.3);
    color: $white-100;
  }
}

.gallery-card__action {
  @media (min-width: $tablet) {
    position: absolute;
    right: 21px;
    bottom: 28px;
  }
}

.gallery-card__photo {
  background-color: $brown-100;
}

.video-player__photo {
  background-color: $grey-400;
}
