.gallery__list {
  padding: 0;
  margin: 0;

  list-style: none;

  @media (min-width: $tablet) {
    width: calc(100% - 60px * 2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop) {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  position: relative;
  padding: 23px 0 16px 0;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet) {
    width: 100%;
    padding: 0;
  }

  &:nth-child(1) {
    @media (min-width: $tablet) {
      grid-column: 1 / -1;
      min-height: 480px;
    }

    @media (min-width: $desktop) {
      min-height: 400px;
    }
  }
}
