.lead {
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 20px * 2);

  @media (min-width: $tablet) {
    margin-bottom: 50px;
    width: 100%;
  }

  @media (min-width: $desktop) {
    margin-bottom: 40px;
  }

  &--photogallery {
    margin-bottom: 0;
    padding: 16px 0 15px;

    @media (min-width: $tablet) {
      max-width: 435px;
      padding: 63px 0 64px;
    }

    @media (min-width: $desktop) {
      padding: 103px 0 65px;
    }
  }

  &--video {
    max-width: 270px;
    margin-bottom: 0;
    padding: 33px 0 20px 0;

    @media (min-width: $tablet) {
      max-width: 445px;
      padding: 57px 0 66px 0;
    }

    @media (min-width: $desktop) {
      padding: 61px 0 64px;
    }
  }

  &--reviews {
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 0 22px 0;

    @media (min-width: $tablet) {
      max-width: 435px;
      padding: 44px 0 69px 0;
    }

    @media (min-width: $desktop) {
      padding-top: 112px;
      padding-bottom: 44px;
    }
  }

  &--main {
    max-width: 259px;
    padding-top: 20px;
    margin-bottom: 15px;

    @media (min-width: $tablet) {
      max-width: 485px;
      padding-top: 29px;
      margin-bottom: 0;
      padding-bottom: 42px;
    }

    @media (min-width: $desktop) {
      padding-top: 56px;
      padding-bottom: 29px;
    }
  }
}

.lead__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 18px;

  @media (min-width: $tablet) {
    margin-bottom: 30px;
    font-size: 21px;
  }

  @media (min-width: $desktop) {
    max-width: 588px;
    margin: 0 auto;
    margin-bottom: 31px;
  }

  &--photogellary {
    @media (min-width: $tablet) {
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 33px;
    }
  }

  &--video {
    margin: 0;
    margin-bottom: 28px;

    @media (min-width: $tablet) {
      font-size: 30px;
      margin-bottom: 33px;
    }
  }

  &--reviews {
    @media (min-width: $tablet) {
      font-size: 30px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 35px;
    }
  }
}

.lead__caption {
  line-height: 24px;
}
