.lead {
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 20px * 2);

  @media (min-width: $tablet) {
    margin-bottom: 50px;
    width: 100%;
  }

  @media (min-width: $desktop) {
    margin-bottom: 40px;
  }

  &--photogallery {
    @media (min-width: $tablet) {
      max-width: 458px;
    }
  }

  &--video {
    @media (min-width: $tablet) {
      max-width: 445px;
    }
  }

  &--reviews {
    @media (min-width: $tablet) {
      max-width: 434px;
    }
  }
}

.lead__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 18px;

  @media (min-width: $tablet) {
    font-size: 30px;
  }

  @media (min-width: $desktop) {
    max-width: 588px;
    margin: 0 auto;
    padding: 17px 0;
  }
}
