.lead {
  padding: 0 24px;
  margin-bottom: 36px;

  @media (min-width: $tablet) {
    padding: 0 90px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 40px;
  }
}

.lead__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 18px;

  @media (min-width: $tablet) {
    font-size: 21px;
  }

  @media (min-width: $desktop) {
    max-width: 588px;
    margin: 0 auto;
    padding: 17px 0;
  }
}
