.like-btn {
  width: 64px;
  display: flex;
}

.like-btn__count {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 9px;
}

.like-btn__ico {
  fill: rgba($color-black, 0.3);

  @media (min-width: $desktop) {
    fill: $white-100;
  }
}
