.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet) {
    justify-self: start;
    margin-bottom: 0;
  }
}

.page-footer__wrapper {
  width: calc(100% - 20px * 2);
  margin: 0 auto;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 23px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 151px 1fr;
    width: calc(100% - 60px * 2);
    padding: 34px 0 25px;
  }

  @media (min-width: $desktop) {
    width: calc(100% - 120px * 2);
    padding: 33px 0;
  }
}

.page-footer__social {
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    margin-top: 0;
  }
}
