.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  margin: 0;

  @media (min-width: $tablet) {
    justify-self: start;
  }
}

.page-footer__wrapper {
  width: calc(100% - 20px * 2);
  margin: 0 auto;
  align-items: center;
  padding-top: 37px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 151px 1fr;
    width: calc(100% - 60px * 2);
    padding: 34px 0 25px;
  }

  @media (min-width: $desktop) {
    width: calc(100% - 120px * 2);
    padding: 33px 0;
  }
}

.page-footer__social {
  margin-top: 32px;
  margin-right: 1px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    margin-top: 8px;
    margin-right: 9px;
  }
}
