.reviews-form {
  padding-bottom: 40px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 60px;
    width: calc(100% - 60px * 2);
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    padding-bottom: 66px;
    width: calc(100% - 120px * 2);
  }
}

.reviews-form__fieldset {
  border: none;

  &--impression {
    @media (min-width: $tablet) {
      order: -1;
    }
  }

  &--contacts {
    @media (min-width: $tablet) {
      grid-column: 1 / -1;
    }
  }

  &--places {
    @media (min-width: $tablet) {
      grid-column: 1 / -1;
    }
  }

  &--emotions {
    @media (min-width: $tablet) {
      grid-column: 1 / -1;
    }
  }
}

.reviews-form__legend {
  font-weight: 700;
}

.reviews-form__group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &--impression {
    margin-bottom: 14px;
  }

  &--places {
    margin-bottom: 25px;

    @media (min-width: $tablet) {
      width: calc(100% / 2 - 30px);
    }

    @media (min-width: $desktop) {
      width: calc(100% / 4 - 30px);
    }
  }

  &--contacts {
    flex-direction: column;
  }
}

.reviews-form__label {
  margin-right: 14px;

  font-size: 14px;

  &--impression {
    position: relative;
    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 18px;
    text-transform: none;

    &::before {
      content: "";
      display: inline-block;
      width: 55px;
      height: 55px;
      bottom: 1px;
      background-color: $grey-300;
      border-radius: 50%;
      margin-right: 23px;
    }
  }

  &--places {
    position: relative;
    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 18px;
    text-transform: none;

    @media (min-width: $tablet) {
      margin-right: 0;
    }

    &::before {
      content: "";
      display: inline-block;
      flex-shrink: 0;
      width: 55px;
      height: 55px;
      bottom: 1px;
      background-color: $grey-300;
      margin-right: 23px;
    }
  }

  &--emotions {
    font-weight: 700;
  }
}

.reviews-form__wrap {
  width: calc(100% - 20px * 2);
  margin: 0 auto;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / -1;
  }
}

.reviews-form__collection {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 65px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.reviews-form__field {
  min-height: 58px;
  padding-left: 22px;
  margin-top: 3px;

  background-color: $grey-300;
  border: 3px solid transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: 700;
  outline: none;

  &::placeholder {
    font-weight: 700;
    color: $color-black;
  }

  &:hover {
    background-color: $grey-400;
  }

  &:focus {
    background-color: $white-100;
    border: 3px solid $grey-400;
  }

  &--emotions {
    width: 100%;
    min-height: 160px;
    resize: none;
  }

  &--name {
    width: 100%;
  }

  &--contacts {
    width: 100%;
  }
}

.reviews-form__note {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

/*Кастомная стилизация эффектов*/
.reviews-form__field--impression:checked + .reviews-form__label--impression::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 21px;
  height: 21px;
  background-color: #000000;
  border-radius: 50%;
  margin-right: 23px;
  left: 17px;
  top: 16px;
}

.reviews-form__field--impression:hover + .reviews-form__label--impression::before {
  background-color: $grey-400;
  cursor: pointer;
}

.reviews-form__field--places:hover + .reviews-form__label--places::before {
  background-color: $grey-400;
  cursor: pointer;
}

.reviews-form__button {
  display: block;
  width: 100%;

  @media (min-width: $tablet) {
    max-width: 324px;
  }
}
