.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: $blue-100;
  margin-right: 6px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: $blue-600;
  }

  &:active {
    background-color: $blue-700;

    svg {
      opacity: 0.3;
    }
  }
}

.social__link svg {
  fill: $white-100;
}
