.social {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 151px;
  width: 100%;
  margin: 0 auto;
  padding-top: 33px;

  @media (min-width: $tablet) {
    padding-top: 0;
  }
}

.social__link {
  width: 46px;
  height: 48px;
  background-color: $blue-100;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: $anim;

  &:hover,
  &:focus {
    background-color: $blue-600;
  }

  &:active {
    background-color: $blue-700;

    svg {
      opacity: 0.3;
    }
  }
}

.social__link svg {
  fill: $white-100;
}
