.success-pop-up {
  position: fixed;
  width: 320px;
  height: 320px;
  top: calc(50vh - 140px);
  left: 50%;
  margin-left: -160px;
  padding: 35px 0 20px;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.2);
  background-color: #ffffff;
  z-index: 5;
  display: none;

  &--visible {
    display: block;
  }
}

.success-pop-up__text {
  padding: 0 40px;
  margin: 30px 0;
}

.success-pop-up__button-wrap {
  margin: 0;
  width: 100%;
  height: 99px;
  padding: 20px 0;
  background-color: $blue-100;
}

.success-pop-up__button {
  width: 280px;
}

@media (min-width: $tablet) {
  .success-pop-up {
    width: 639px;
    height: 300px;
    padding: 35px 0 0;
    top: calc(50vh - 150px);
    margin-left: -315px;
  }

  .success-pop-up__text {
    padding: 0 100px;
  }

  .success-pop-up__button-wrap {
    padding: 45px 0;
    height: 149px;
  }

  .success-pop-up__button {
    width: 456px;
  }
}

@media (min-width: $desktop) {
  .success-pop-up {
    width: 639px;
    height: 350px;
  }

  .success-pop-up__button {
    width: 456px;
  }
}
