.video-player {
  position: relative;

  @media (min-width: $tablet) {
    width: calc(100% - 60px * 2);
    margin: 0 auto;
  }
}

.video-player__control {
  position: relative;
  background-color: $grey-300;
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 0;
    max-width: 648px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba($color-black, 0.6);
    height: 93px;
  }

  @media (min-width: $desktop) {
    max-width: 800px;
  }
}

.video-player__button {
  background: none;
  border: none;
  margin-left: 31px;
  outline: none;

  @media (min-width: $tablet) {
    margin-left: 20px;
  }

  & svg {
    fill: $blue-500;

    @media (min-width: $tablet) {
      fill: $white-100;
    }
  }

  &:hover {
    cursor: pointer;

    svg {
      fill: $black-200;

      @media (min-width: $tablet) {
        fill: $white-100;
        opacity: 0.6;
      }
    }
  }

  &:active {
    opacity: 0.3;

    svg {
      fill: $black-200;

      @media (min-width: $tablet) {
        fill: $white-100;
        opacity: 0.3;
      }
    }
  }

  &--fullscreen {
    margin-right: 5px;

    @media (min-width: $tablet) {
      margin-right: 23px;
    }
    @media (min-width: $desktop) {
      margin-right: 25px;
    }
  }

  &--cc {
    margin-left: auto;
    margin-right: -12px;

    @media (min-width: $tablet) {
      margin-right: 0;
    }
  }

  &--replay {
    margin-left: 19px;

    @media (min-width: $tablet) {
      margin-left: 29px;
    }

    @media (min-width: $desktop) {
      margin-left: 28px;
    }
  }
}

.video-player__scale {
  margin-top: 6px;

  @media (min-width: $tablet) {
    margin-top: 30px;
  }
}

.video-player__scale svg {
  fill: $white-100;
  width: 235px;

  @media (min-width: $tablet) {
    width: 389px;
  }

  @media (min-width: $desktop) {
    width: auto;
  }
}

.video-player__progress-bar {
  position: absolute;
  bottom: 65px;
  background-color: rgba($color-black, 0.6);
  left: 0;
  width: 280px;
  height: 47px;

  @media (min-width: $tablet) {
    background-color: transparent;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    left: 20px;
  }
}

.video-player__progress-toggle {
  position: absolute;
  bottom: 9px;
  left: 57px;

  @media (min-width: $tablet) {
    bottom: 33px;
    left: 112px;
  }
}
