.video-player {
  position: relative;

  @media (min-width: $tablet) {
    width: calc(100% - 60px * 2);
    margin: 0 auto;
  }
}

.video-player__control {
  position: absolute;
  bottom: 0;
  max-width: 800px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  background-color: rgba($color-black, 0.6);
  height: 93px;

  @media (min-width: $tablet) {
    max-width: 648px;
  }

  @media (min-width: $desktop) {
    max-width: 800px;
  }
}

.video-player__button {
  background: none;
  border: none;
  margin-left: 20px;

  & svg {
    fill: $white-100;
  }

  &--fullscreen {
    margin-right: 30px;
  }

  &--cc {
    margin-right: -29px;
  }
}

.video-player__scale {
  margin-top: 30px;
  margin-left: 9px;
}

.video-player__scale svg {
  fill: $white-100;
  width: 235px;

  @media (min-width: $tablet) {
    width: 389px;
  }
}

.video-player__progress-bar {
  display: flex;
  flex-direction: column;
  position: relative;
}

.video-player__progress-toggle {
  position: absolute;
  bottom: 33px;
  left: 121px;
}
