.booking__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $color-black;
  text-transform: uppercase;
}

.booking__text {
  font-size: 21px;
  line-height: 26px;
  color: $color-black;
  text-transform: uppercase;
}
