@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  src: url("/fonts/ptsans.woff2") format("woff2"), url("/fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans";
  src: url("/fonts/ptsansbold.woff2") format("woff2"), url("/fonts/ptsansbold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

.page__body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: "PT Sans", "Arial", "Tahoma", sans-serif;
  color: black;
}
